* {
    /*border: 1px dotted red;*/
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1170px;
    height: 600px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    font-family: "ProximaNovaLight", helvetica, arial, sans-serif;
}
.row-1 {
    flex: .5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(91, 188, 221);
    color: white;
}
.row-1 h1 {
    font-family: impact;
    font-size: 70px;
    margin-left: 10px;
}
.row-1-right ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: impact;
    font-size: 30px;
    cursor: pointer;
    
}
.burbank, .chicago {
    margin-right: 75px;
    
}
.dallas {
    margin-right: 10px;
}
.row-2, .row-3, .row-4 {
    width: 90%;
    margin: 0px auto;
}

.row-2 {
    flex: .5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
}
.row-2 h2 {   
    font-size: 60px;
}
.row-2-right ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
}
select {
    font-size: 20px;
    border: 2px solid black;
    margin: 0px 10px;
}
.row-3 {
    flex: 3;
    display: flex;
}
.today,.tomorrow, .friday, .saturday {
    flex: 1;
    background: #ececec; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    height: 400px;
}
.row-3 h3 {
    font-size: 25px;
    margin: 20px auto;
}
.row-3 ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
}
.high {
    color: red;
    font-weight: bold;
    font-size:25px;
    margin: 0px 40px;
}
.low {
    color: blue;
    font-weight: bold;
    font-size:25px;
    margin: 0px 40px;
}
.row-3 img {
    border-radius: 50%;
    height: 175px;
    margin: 20px auto;
}
.row-3 p {
    font-weight: bold;
    font-size:20px;
}
.today {
    margin-right: 15px;
}
.tomorrow {
    flex: 1;
    background: #ececec; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 15px;
}
.friday {
    flex: 1;
    background: #ececec; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 15px;
}
.saturday {
    flex: 1;
    background: #ececec; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.row-4 ul {
    flex: 1;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: 2px solid black;
    height: 100px; 
}
.row-4 img {
    flex: 1;
    margin-left: 20px;
}
.row-4 p {
    flex: 1;
    font-size: 18px;
    margin: 0px 20px;
}
.row-4 span {
    font-weight: bold;
    font-size: 22px;
}
.row-4 button {
    flex: 2;
    width: 100px;
    background-color: lightblue;
    box-shadow: 4px 4px black;
    margin-right: 20px;
}
#alert {
    position: fixed;
    top: 0px;
}