* {
    margin: 0;
    padding: 0;
    /* border: 1px red dotted; */
}

.container {
    width: 1170px;
    margin: 0px auto;
    text-align: center;
    box-sizing: border-box;
}

.row1 {
    margin: 25px;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    margin: 25px;
}

.boxes {
    width: 200px;
    height: 200px;
    border: 2px black solid;
    background-color: aqua;
}