* {
    margin: 0;
    padding: 0;
    /* border: 1px red dotted; */
}

.container {
    width: 500px;
    margin: 40px auto;
    text-align: left;
    box-sizing: border-box;
}

.container2 {
    width: 600px;
    margin: 40px auto;
    text-align: left;
    box-sizing: border-box;
    background-color: beige;
    border: 1px solid black;
}

input, select, textarea {
    border-radius: 5px;
    width: 475px;
}

button {
    border-radius: 5px;
    font-size: medium;
    width: 100px;
    
}

.btn2 {
    width: 200px;
}

.info {
    display: flex;
    justify-content: start;
    width: 575px;
    font-size: 1.25em;
}

.info1 {
    font-weight: bold;
}

.info2 {
    margin-left: 20px;
}
