<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Email Validation Success</title>
</head>
<body>

	<div class="container mt-5" style="width:500px;">
		<div class="mt-5" style="padding: 20px; border-radius: 5px;">
			{% with messages = get_flashed_messages() %}   
				{% if messages %}                         
					{% for message in messages %}    
						<div class="text-center" style="border: 2px solid black; background-color: green; color: white;  font-weight: bolder;">       
							<p>{{message}}</p>  
						</div>                 
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="mt-4">
				<h3> Email Addresses Entered: </h3>
				<table>
					<tr>
						<th>Email</th>
						<th>Created At</th>
						<th></th>
					</tr>
					{% for email in emails %}
					<tr>
						<td class="col-6">{{ email.email }}</td>
						<td class="col-6">{{ email.created_at }}</td>
						<td><a href="/email/{{email.id}}/delete">Delete</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<div class="mt-3">
				<a href="/">Home</a>
			</div>
		</div>
	</div>

</body>
</html>

