<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="addrecipe.css">
    <title>Add Recipe</title>
</head>
<body>

	<div class="container">
		<div class="row1 mt-5">
			<div><h1> Add New Recipe </h1></div>
			<div>
				<button>Dashboard</button>
				<button>Logout</button>
			</div>
		</div>

		<div class="row2 mt-5">
			<div>
				<form action="" methods="POST">
					<div class="mb-3">
  						<label for="name" class="form-label">Name:</label>
  						<input type="text" class="form-control" name="name">
					</div>
					<div class="form-outline w-400">
						<label class="form-label" for="description">Description:</label>
                				<textarea class="form-control" name="description" rows="4" cols="50" style="background: #fff;"></textarea>
              				</div>
					<div class="form-outline w-400">
						<label class="form-label" for="instruction">Instruction:</label>
                				<textarea class="form-control" name="instruction" rows="4" cols="50" style="background: #fff;"></textarea>
              				</div>
					<div>
						<button type="button" class="btn btn-primary btn-sm mt-3">Create</button>
					</div>
				<!--</form>--!>
			</div>
			<div>
				<div class="mb-3">
  					<label for="date" class="form-label">Date:</label>
  					<input type="date" class="form-control" name="date">
				</div>
				<div>
  					<label for="length" class="form-label">Under 30 Minutes?</label>
  					<p><input type="radio" name="length" value="Yes">Yes</input>
  					<input type="radio" name="length" value="No">No</input></p>
				</div>
			</div>
			<div>
			</div>
		</div>	
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

</body>
</html>



