<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number's Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="bg-black .col-sm-4 text-center">
            <h1 class="m-5 display-1 text-primary">Welcome to the Great Number Game!</h1>
        </div>

        <div class="results bg-success d-flex align-items-center justify-content-center"">
            <h3 class="display-4">Congrats, you got it right!</h3>
        </div>

        <div class="text-secondary .col-sm-4 text-center m-4">
            <a href="/clear" class="btn btn-warning">Play Again</a>
        </div>
        <div class="text-secondary .col-sm-4 text-center m">
            <h3>Attempts: {{session['count']}} </h3>
        </div>
        <div class="class text-center m-5">
            <form action='/submit' method='POST'>
                <h6 style="font-size: 1em;"">Place your Name on the Leadersboard:</h6>
                <input type="text" name="name" id="name" class="text-center" placeholder="Enter name">
                <p class="m-3"><button class="btn-secondary">Submit</button></p> 
            </form>
        </div>
    </div>
</body>
</html>