* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 1170px;
    margin: 0px auto;
}

.left {
    background-color: darkgoldenrod;
    padding: 10px;
    font-family: Tahoma, Verdana, sans-serif;
    box-shadow: 3px 3px 3px 3px;
}

h1 {
    padding: 10px;
}
.right {
    background-color: gray;
    box-shadow: 3px 3px 3px 3px;

}
.right-row1 {
    
}
.right-row2 {
    /* border: 1px solid black; */
    width: 350px;
    height: auto;
    background-color: whitesmoke;
    padding: 10px;
}


.left, .right {
    margin: 50px;
}

/* li {
    list-style-type:none
} */

/* .right-row3 {
    margin-top: 5px;
} */

td {
    width: 300px;
}

.left-row1 {
    margin-bottom: 25px;
}

.td1 {
    width: 500px;
}
.td2 {
    width: auto;
}

