<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addrecipe.css') }}">
    <title>Add Recipe</title>
</head>
<body>

	<div class="container">
		<div class="row1 mt-5">
			<div><h1> Add New Recipe </h1></div>
			<div>
				<a href="/dashboard">Dashboard</a>
				<a href="/logout">Logout</a>
			</div>
		</div>

		<div class="row2 mt-5">
			<form action="/recipes/create" method="POST">
				<div class="mb-3">
					<input type="hidden" class="form-control" name="id">
				</div>
				<div class="mb-3">
					<label for="name" class="form-label">Name:</label>
					<input type="text" class="form-control" name="name">
				</div>
				<div class="form-outline w-400">
					<label class="form-label" for="description">Description:</label>
					<textarea class="form-control" name="description" rows="4" cols="50" style="background: #fff;"></textarea>
				</div>
				<div class="form-outline w-400">
					<label class="form-label" for="instruction">Instruction:</label>
					<textarea class="form-control" name="instruction" rows="4" cols="50" style="background: #fff;"></textarea>
				</div>
				<div class="mt-3">
					<label for="under_30" class="form-label">Under 30 Minutes?</label>
					<select name="under_30" id="">
						<option value="Yes" name="under_30">Yes</option>
						<option value="No" name="under_30">No</option>
					</select>
				</div>
				<div class="mb-3">
					<input type="hidden" class="form-control" name="user_id">
				</div>
				<div>
					<button type="submit" class="btn btn-primary btn-sm mt-3">Create</button>
				</div>
			</form>	
		</div>
	</div>
	
</body>
</html>



